:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #008bfe;
  --blue-light: #cce8ff;
  --blue-dark: #006fcb;
  --red: #d00303;
  --green: #09bb00;
  --bg-color: #f0f4f8;
  --font: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);

  display: grid;
  place-items: center;
  min-height: 100vh;
}
